{% extends "layouts/main.html" %}

{% from "autocomplete/macro.njk" import xGovukAutocomplete %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Application details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Application details</h1>

      {% if selectionError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: selectionError,
              href: "#application-code"
            }
          ]
        }) }}
      {% endif %}

      {% set selectionErrorMessage = undefined %}
      {% if selectionError %}
        {% set selectionErrorMessage = {
          text: selectionError
        } %}
      {% endif %}

      <form method="post" action="/orders-applications/application-details">
        {{ xGovukAutocomplete({
          id: "application-code",
          name: "application-code",
          label: {
            text: "Application code",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Start typing an application code or title to see matching applications."
          },
          classes: "govuk-!-width-two-thirds",
          value: data["application-code"],
          items: applicationItems,
          errorMessage: selectionErrorMessage
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="/orders-applications/cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
