{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}
  Central authority details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% set formAction = formAction or "/orders-applications/central-authority-details/manual" %}
  {% set cancelHref = cancelHref or "/orders-applications/central-authority-details" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% endif %}

      {% set ukBankDetailsHtml %}
        {{ govukInput({
          id: "central-authority-bank-name-on-account",
          name: "central-authority-bank-name-on-account",
          label: {
            text: "Name on account",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-bank-name-on-account"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-sort-code",
          name: "central-authority-bank-sort-code",
          label: {
            text: "Sort code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["central-authority-bank-sort-code"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-account-number",
          name: "central-authority-bank-account-number",
          label: {
            text: "Account number",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["central-authority-bank-account-number"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-payment-reference",
          name: "central-authority-bank-payment-reference",
          label: {
            text: "Payment reference",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-bank-payment-reference"]
        }) }}
      {% endset %}

      {% set nonUkBankDetailsHtml %}
        {{ govukInput({
          id: "central-authority-bank-non-uk-name-on-account",
          name: "central-authority-bank-non-uk-name-on-account",
          label: {
            text: "Name on account",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-bank-non-uk-name-on-account"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-bic-or-swift-code",
          name: "central-authority-bank-bic-or-swift-code",
          label: {
            text: "BIC or SWIFT code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["central-authority-bank-bic-or-swift-code"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-iban",
          name: "central-authority-bank-iban",
          label: {
            text: "IBAN",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-bank-iban"]
        }) }}

        {{ govukInput({
          id: "central-authority-bank-non-uk-payment-reference",
          name: "central-authority-bank-non-uk-payment-reference",
          label: {
            text: "Payment reference",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-bank-non-uk-payment-reference"]
        }) }}
      {% endset %}

      <h1 class="govuk-heading-l">Central authority details</h1>

      <form method="post" action="{{ formAction }}">
        {{ govukInput({
          id: "central-authority-manual-name",
          name: "central-authority-manual-name",
          label: {
            text: "Central authority name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-manual-name"]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Contact details</h2>

        {{ govukInput({
          id: "central-authority-main-email-address",
          name: "central-authority-main-email-address",
          label: {
            text: "Main email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-main-email-address"]
        }) }}

        {{ govukInput({
          id: "central-authority-other-email-address",
          name: "central-authority-other-email-address",
          label: {
            text: "Other email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-other-email-address"]
        }) }}

        {{ govukInput({
          id: "central-authority-main-telephone-number",
          name: "central-authority-main-telephone-number",
          label: {
            text: "Main telephone number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For international numbers include the country code"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-main-telephone-number"]
        }) }}

        {{ govukInput({
          id: "central-authority-other-telephone-number",
          name: "central-authority-other-telephone-number",
          label: {
            text: "Other telephone number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For international numbers include the country code"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["central-authority-other-telephone-number"]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Address</h2>

        {{ govukInput({ id: "central-authority-address-line-1", name: "central-authority-address-line-1", label: { text: "Address line 1", classes: "govuk-label--s" }, classes: "govuk-!-width-two-thirds", value: data["central-authority-address-line-1"] }) }}
        {{ govukInput({ id: "central-authority-address-line-2", name: "central-authority-address-line-2", label: { text: "Address line 2", classes: "govuk-label--s" }, classes: "govuk-!-width-two-thirds", value: data["central-authority-address-line-2"] }) }}
        {{ govukInput({ id: "central-authority-address-line-3", name: "central-authority-address-line-3", label: { text: "Address line 3", classes: "govuk-label--s" }, classes: "govuk-!-width-two-thirds", value: data["central-authority-address-line-3"] }) }}
        {{ govukInput({ id: "central-authority-address-line-4", name: "central-authority-address-line-4", label: { text: "Address line 4", classes: "govuk-label--s" }, classes: "govuk-!-width-two-thirds", value: data["central-authority-address-line-4"] }) }}
        {{ govukInput({ id: "central-authority-address-line-5", name: "central-authority-address-line-5", label: { text: "Address line 5", classes: "govuk-label--s" }, classes: "govuk-!-width-two-thirds", value: data["central-authority-address-line-5"] }) }}

        {{ govukInput({
          id: "central-authority-postal-or-zip-code",
          name: "central-authority-postal-or-zip-code",
          label: {
            text: "Postal or zip code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["central-authority-postal-or-zip-code"]
        }) }}

        {{ govukSelect({
          id: "central-authority-country",
          name: "central-authority-country",
          label: {
            text: "Country",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          items: [
            {
              text: "Select",
              value: "",
              selected: not data["central-authority-country"]
            },
            {
              text: "Latvia",
              value: "latvia",
              selected: data["central-authority-country"] == "latvia"
            },
            {
              text: "Poland",
              value: "poland",
              selected: data["central-authority-country"] == "poland"
            },
            {
              text: "United Kingdom",
              value: "united-kingdom",
              selected: data["central-authority-country"] == "united-kingdom"
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Bank details</h2>

        {{ govukRadios({
          idPrefix: "central-authority-bank-account-type",
          name: "central-authority-bank-account-type",
          items: [
            {
              value: "uk-bank-account",
              text: "UK bank account",
              checked: data["central-authority-bank-account-type"] == "uk-bank-account",
              conditional: {
                html: ukBankDetailsHtml
              }
            },
            {
              value: "non-uk-bank-account",
              text: "Non-UK bank account",
              checked: data["central-authority-bank-account-type"] == "non-uk-bank-account",
              conditional: {
                html: nonUkBankDetailsHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None",
              hint: {
                text: "Cheques will be used if no payment details are added"
              },
              checked: data["central-authority-bank-account-type"] == "none"
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

