//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.app-age-box {
  background-color: #f3f2f1;
  border-left: 4px solid #1d70b8;
  padding: 10px 15px;
  max-width: 260px;
}
