{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% set showNav = true %}
{% set activeNav = "search" %}

{% block pageTitle %}
  Search for cases and accounts - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Search for cases and accounts</h1>

      <p class="govuk-body">Use quick search to search by either account number, or reference number, or use advanced search.</p>

      <form method="post" action="/search">

        <h2 class="govuk-heading-m">Quick search</h2>

        {{ govukInput({
          label: { text: "Account number" },
          hint: { text: "For example, 12345678 or 12345678A" },
          id: "account-number",
          name: "account-number",
          classes: "govuk-input--width-10",
          value: formValues["account-number"] if formValues
        }) }}

        {{ govukInput({
          label: { text: "Reference or case number" },
          id: "reference-number",
          name: "reference-number",
          classes: "govuk-input--width-10",
          value: formValues["reference-number"] if formValues
        }) }}

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-4">

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Advanced search</h2>

        {% set respondentsTabHtml %}
          <h2 class="govuk-heading-m">Respondent</h2>
          {{ govukInput({
            label: { text: "Last name" },
            id: "respondent-last-name",
            name: "respondent-last-name",
            classes: "govuk-input--width-20",
            value: formValues["respondent-last-name"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "First names" },
            id: "respondent-first-names",
            name: "respondent-first-names",
            classes: "govuk-input--width-20",
            value: formValues["respondent-first-names"] if formValues
          }) }}
          {{ mojDatePicker({
            id: "respondent-date-of-birth",
            name: "respondent-date-of-birth",
            label: {
              text: "Date of birth",
              classes: "govuk-label--s"
            },
            value: formValues["respondent-date-of-birth"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Address line 1" },
            id: "respondent-address-line-1",
            name: "respondent-address-line-1",
            classes: "govuk-input--width-30",
            value: formValues["respondent-address-line-1"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Postcode" },
            id: "respondent-postcode",
            name: "respondent-postcode",
            classes: "govuk-input--width-10",
            value: formValues["respondent-postcode"] if formValues
          }) }}
        {% endset %}

        {% set applicantsTabHtml %}
          <h2 class="govuk-heading-m">Applicant</h2>
          {{ govukInput({
            label: { text: "Last name" },
            id: "applicant-last-name",
            name: "applicant-last-name",
            classes: "govuk-input--width-20",
            value: formValues["applicant-last-name"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "First names" },
            id: "applicant-first-names",
            name: "applicant-first-names",
            classes: "govuk-input--width-20",
            value: formValues["applicant-first-names"] if formValues
          }) }}
          {{ mojDatePicker({
            id: "applicant-date-of-birth",
            name: "applicant-date-of-birth",
            label: {
              text: "Date of birth",
              classes: "govuk-label--s"
            },
            value: formValues["applicant-date-of-birth"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Address line 1" },
            id: "applicant-address-line-1",
            name: "applicant-address-line-1",
            classes: "govuk-input--width-30",
            value: formValues["applicant-address-line-1"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Postcode" },
            id: "applicant-postcode",
            name: "applicant-postcode",
            classes: "govuk-input--width-10",
            value: formValues["applicant-postcode"] if formValues
          }) }}
        {% endset %}

        {% set minorCreditorIndividualHtml %}
          {{ govukInput({
            label: { text: "Last name" },
            id: "minor-creditor-last-name",
            name: "minor-creditor-last-name",
            classes: "govuk-input--width-20",
            value: formValues["minor-creditor-last-name"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "First names" },
            id: "minor-creditor-first-names",
            name: "minor-creditor-first-names",
            classes: "govuk-input--width-20",
            value: formValues["minor-creditor-first-names"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Address line 1" },
            id: "minor-creditor-address-line-1",
            name: "minor-creditor-address-line-1",
            classes: "govuk-input--width-30",
            value: formValues["minor-creditor-address-line-1"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Postcode" },
            id: "minor-creditor-postcode",
            name: "minor-creditor-postcode",
            classes: "govuk-input--width-10",
            value: formValues["minor-creditor-postcode"] if formValues
          }) }}
        {% endset %}

        {% set minorCreditorCompanyHtml %}
          {{ govukInput({
            label: { text: "Company name" },
            id: "minor-creditor-company-name",
            name: "minor-creditor-company-name",
            classes: "govuk-input--width-30",
            value: formValues["minor-creditor-company-name"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Address line 1" },
            id: "minor-creditor-company-address-line-1",
            name: "minor-creditor-company-address-line-1",
            classes: "govuk-input--width-30",
            value: formValues["minor-creditor-company-address-line-1"] if formValues
          }) }}
          {{ govukInput({
            label: { text: "Postcode" },
            id: "minor-creditor-company-postcode",
            name: "minor-creditor-company-postcode",
            classes: "govuk-input--width-10",
            value: formValues["minor-creditor-company-postcode"] if formValues
          }) }}
        {% endset %}

        {% set minorCreditorsTabHtml %}
          {{ govukRadios({
            idPrefix: "minor-creditor-type",
            name: "minor-creditor-type",
            fieldset: {
              legend: {
                text: "Minor creditor accounts",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "individual",
                text: "Individual",
                checked: formValues["minor-creditor-type"] != "company",
                conditional: { html: minorCreditorIndividualHtml }
              },
              {
                value: "company",
                text: "Company",
                checked: formValues["minor-creditor-type"] == "company" if formValues,
                conditional: { html: minorCreditorCompanyHtml }
              }
            ]
          }) }}
        {% endset %}

        {% set majorCreditorsTabHtml %}
          {{ govukSelect({
            id: "major-creditor",
            name: "major-creditor",
            label: { text: "Select a major creditor" },
            items: majorCreditorItems
          }) }}
        {% endset %}

        {{ govukTabs({
          items: [
            {
              label: "Respondents",
              id: "respondents",
              panel: { html: respondentsTabHtml }
            },
            {
              label: "Applicants",
              id: "applicants",
              panel: { html: applicantsTabHtml }
            },
            {
              label: "Minor creditors",
              id: "minor-creditors",
              panel: { html: minorCreditorsTabHtml }
            },
            {
              label: "Major creditors",
              id: "major-creditors",
              panel: { html: majorCreditorsTabHtml }
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "active-accounts-only",
          name: "active-accounts-only",
          items: [{ value: "yes", text: "Active accounts only", checked: formValues["active-accounts-only"] != "no" }]
        }) }}

        <div class="moj-button-group moj-button-group--inline">
          {{ govukButton({
            text: "Search"
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
