{% extends "layouts/main.html" %}

{% from "autocomplete/macro.njk" import xGovukAutocomplete %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% block pageTitle %}
  Create order terms - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/orders-applications-alternative/select-order-term"
      }) }}

      <h1 class="govuk-heading-l">Create order terms</h1>

      <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">{{ resultCode }}</p>
      <h2 class="govuk-heading-m">{{ resultTitle }}</h2>

      <p class="govuk-body govuk-!-margin-bottom-6">Category: {{ resultCategory }}</p>

      {% if isEditingOrderTerm %}
        {{ govukInsetText({
          text: "Your previous answers have been loaded so you can update this order term."
        }) }}
      {% endif %}

      {{ govukInsetText({
        html: '<span class="govuk-!-font-weight-bold">Order term wording</span><br>' ~ resultWording
      }) }}

      <form method="post" action="/orders-applications-alternative/order-term-details">
        {% for field in responseItems %}
          {% set fieldHint = undefined %}
          {% if field.hint %}
            {% set fieldHint = {
              text: field.hint
            } %}
          {% endif %}

          {% if field.type == "textarea" %}
            {{ govukTextarea({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              rows: 4,
              hint: fieldHint,
              value: field.value,
              errorMessage: field.errorMessage,
              attributes: {
                maxlength: field.maxLength
              }
            }) }}
          {% elif field.type == "date" %}
            {{ mojDatePicker({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              value: field.value,
              errorMessage: field.errorMessage
            }) }}
          {% elif field.type == "currency" %}
            {{ govukInput({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-10",
              prefix: {
                text: "£"
              },
              value: field.value,
              errorMessage: field.errorMessage,
              attributes: {
                inputmode: "decimal"
              }
            }) }}
          {% elif field.type == "radios" %}
            {{ govukRadios({
              idPrefix: field.id,
              name: field.id,
              fieldset: {
                legend: {
                  text: field.prompt,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: fieldHint,
              errorMessage: field.errorMessage,
              items: field.items
            }) }}
          {% elif field.type == "checkboxes" %}
            {{ govukCheckboxes({
              idPrefix: field.id,
              name: field.id,
              fieldset: {
                legend: {
                  text: field.prompt,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: fieldHint,
              errorMessage: field.errorMessage,
              items: field.items
            }) }}
          {% elif field.type == "autocomplete" %}
            {{ xGovukAutocomplete({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-!-width-two-thirds",
              value: field.value,
              errorMessage: field.errorMessage,
              items: field.items
            }) }}
          {% elif field.type == "number" %}
            {{ govukInput({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-10",
              value: field.value,
              errorMessage: field.errorMessage,
              attributes: {
                inputmode: "numeric"
              }
            }) }}
          {% elif field.type == "time" %}
            {{ govukInput({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-10",
              value: field.value,
              errorMessage: field.errorMessage
            }) }}
          {% else %}
            {{ govukInput({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-!-width-two-thirds",
              value: field.value,
              errorMessage: field.errorMessage,
              hint: fieldHint,
              attributes: {
                maxlength: field.maxLength
              }
            }) }}
          {% endif %}
        {% endfor %}

        <div class="govuk-button-group">
          {% if requiresCreditor %}
            {{ govukButton({
              text: "Enter creditor details",
              name: "action",
              value: "enter-creditor-details"
            }) }}
          {% else %}
            {{ govukButton({
              text: "Return to case details",
              name: "action",
              value: "return-to-case-details"
            }) }}

            {{ govukButton({
              text: "Enter further order term",
              name: "action",
              value: "add-further-order-term",
              classes: "govuk-button--secondary"
            }) }}
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
