{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Order terms - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/orders-applications-alternative/case-details"
      }) }}

      <h1 class="govuk-heading-l">Order terms</h1>

      {% if recordedOrderTerms.length %}
        {% for card in orderTermCards %}
          {{ govukSummaryList({
            card: {
              title: {
                text: card.title
              },
              actions: {
                items: [
                  {
                    href: card.changeHref,
                    text: "Change",
                    visuallyHiddenText: card.title
                  },
                  {
                    href: card.removeHref,
                    text: "Remove",
                    visuallyHiddenText: card.title
                  }
                ]
              }
            },
            rows: card.rows
          }) }}
        {% endfor %}
      {% else %}
        <p class="govuk-body">There are currently no order terms.</p>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return to case details",
          href: "/orders-applications-alternative/case-details"
        }) }}

        {{ govukButton({
          text: "Add terms",
          classes: "govuk-button--secondary",
          href: "/orders-applications-alternative/add-order-term"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
