{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% block pageTitle %}
  Applicant details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% set backHref = backHref or "/orders-applications-alternative/case-details" %}
  {% set formAction = formAction or "/orders-applications-alternative/applicant-details" %}
  {% set cancelHref = cancelHref or "/orders-applications-alternative/cancel" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: backHref
      }) }}

      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% endif %}

      <h1 class="govuk-heading-l">Applicant details</h1>

      {% set aliasHtml %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Alias 1</p>

        {{ govukInput({
          id: "applicant-alias-1-first-names",
          name: "applicant-alias-1-first-names",
          label: {
            text: "First names",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-alias-1-first-names"]
        }) }}

        {{ govukInput({
          id: "applicant-alias-1-last-name",
          name: "applicant-alias-1-last-name",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-alias-1-last-name"]
        }) }}

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Add another alias</a>
        </p>
      {% endset %}

      {% set thirdPartyHtml %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Third party details</h2>
        <p class="govuk-body govuk-!-margin-bottom-4">You can add a different address for correspondence.</p>

        {{ govukInput({
          id: "applicant-third-party-name-or-organisation",
          name: "applicant-third-party-name-or-organisation",
          label: {
            text: "Name or organisation",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-name-or-organisation"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-relationship",
          name: "applicant-third-party-relationship",
          label: {
            text: "Relationship to the applicant",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-relationship"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-reference",
          name: "applicant-third-party-reference",
          label: {
            text: "Reference (if applicable)",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-reference"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-address-line-1",
          name: "applicant-third-party-address-line-1",
          label: {
            text: "Address line 1",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-address-line-1"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-address-line-2",
          name: "applicant-third-party-address-line-2",
          label: {
            text: "Address line 2",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-address-line-2"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-address-line-3",
          name: "applicant-third-party-address-line-3",
          label: {
            text: "Address line 3",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-address-line-3"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-address-line-4",
          name: "applicant-third-party-address-line-4",
          label: {
            text: "Address line 4",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-address-line-4"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-address-line-5",
          name: "applicant-third-party-address-line-5",
          label: {
            text: "Address line 5",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-third-party-address-line-5"]
        }) }}

        {{ govukInput({
          id: "applicant-third-party-postal-or-zip-code",
          name: "applicant-third-party-postal-or-zip-code",
          label: {
            text: "Postal or zip code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["applicant-third-party-postal-or-zip-code"]
        }) }}

        {{ govukSelect({
          id: "applicant-third-party-country",
          name: "applicant-third-party-country",
          label: {
            text: "Country",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          items: [
            {
              text: "Poland",
              value: "poland",
              selected: data["applicant-third-party-country"] == "poland"
            },
            {
              text: "United Kingdom",
              value: "united-kingdom",
              selected: data["applicant-third-party-country"] == "united-kingdom"
            }
          ]
        }) }}
      {% endset %}

      {% set ukBankDetailsHtml %}
        {{ govukInput({
          id: "applicant-bank-name-on-account",
          name: "applicant-bank-name-on-account",
          label: {
            text: "Name on account",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-name-on-account"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-sort-code",
          name: "applicant-bank-sort-code",
          label: {
            text: "Sort code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          inputmode: "numeric",
          value: data["applicant-bank-sort-code"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-account-number",
          name: "applicant-bank-account-number",
          label: {
            text: "Account number",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          inputmode: "numeric",
          value: data["applicant-bank-account-number"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-payment-reference",
          name: "applicant-bank-payment-reference",
          label: {
            text: "Payment reference",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-payment-reference"]
        }) }}
      {% endset %}

      {% set nonUkBankDetailsHtml %}
        {{ govukInput({
          id: "applicant-bank-non-uk-name-on-account",
          name: "applicant-bank-non-uk-name-on-account",
          label: {
            text: "Name on account",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-non-uk-name-on-account"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-bic-or-swift-code",
          name: "applicant-bank-bic-or-swift-code",
          label: {
            text: "BIC or SWIFT code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["applicant-bank-bic-or-swift-code"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-iban",
          name: "applicant-bank-iban",
          label: {
            text: "IBAN",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-iban"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-non-uk-payment-reference",
          name: "applicant-bank-non-uk-payment-reference",
          label: {
            text: "Payment reference",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-non-uk-payment-reference"]
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-2">Other details if required</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-4">

        {{ govukInput({
          id: "applicant-bank-name",
          name: "applicant-bank-name",
          label: {
            text: "Bank name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-name"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-branch-office-or-sort-code",
          name: "applicant-bank-branch-office-or-sort-code",
          label: {
            text: "Branch office or sort code",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-branch-office-or-sort-code"]
        }) }}

        {{ govukInput({
          id: "applicant-bank-non-uk-account-number",
          name: "applicant-bank-non-uk-account-number",
          label: {
            text: "Account number",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-bank-non-uk-account-number"]
        }) }}
      {% endset %}

      {% set restrictionHtml %}
        {{ govukCharacterCount({
          id: "applicant-restriction-reason",
          name: "applicant-restriction-reason",
          maxlength: 500,
          label: {
            text: "Reason",
            classes: "govuk-label--s"
          },
          rows: 5,
          value: data["applicant-restriction-reason"]
        }) }}
      {% endset %}

      <form method="post" action="{{ formAction }}">
        {{ govukSelect({
          id: "applicant-title",
          name: "applicant-title",
          label: {
            text: "Title",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-quarter",
          items: [
            {
              text: "Mr",
              value: "mr",
              selected: data["applicant-title"] == "mr"
            },
            {
              text: "Mrs",
              value: "mrs",
              selected: data["applicant-title"] == "mrs"
            },
            {
              text: "Ms",
              value: "ms",
              selected: data["applicant-title"] == "ms"
            },
            {
              text: "Miss",
              value: "miss",
              selected: data["applicant-title"] == "miss"
            },
            {
              text: "Dr",
              value: "dr",
              selected: data["applicant-title"] == "dr"
            }
          ]
        }) }}

        {{ govukInput({
          id: "applicant-first-names",
          name: "applicant-first-names",
          label: {
            text: "First names",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Include their middle names"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-first-names"]
        }) }}

        {{ govukInput({
          id: "applicant-last-name",
          name: "applicant-last-name",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-last-name"]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "applicant-add-aliases",
          name: "applicant-add-aliases",
          items: [
            {
              value: "yes",
              text: "Add aliases",
              checked: data["applicant-add-aliases"] == "yes",
              conditional: {
                html: aliasHtml
              }
            }
          ]
        }) }}

        {{ mojDatePicker({
          id: "applicant-date-of-birth",
          name: "applicant-date-of-birth",
          label: {
            text: "Date of birth",
            classes: "govuk-label--s"
          },
          value: data["applicant-date-of-birth"]
        }) }}

        {% if applicantAge is not none %}
          <div class="app-age-box govuk-!-margin-top-3 govuk-!-margin-bottom-7">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Age: {{ applicantAge }}</p>
          </div>
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Contact details</h2>

        {{ govukInput({
          id: "applicant-main-email-address",
          name: "applicant-main-email-address",
          label: {
            text: "Main email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-main-email-address"]
        }) }}

        {{ govukInput({
          id: "applicant-other-email-address",
          name: "applicant-other-email-address",
          label: {
            text: "Other email address",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-other-email-address"]
        }) }}

        {{ govukInput({
          id: "applicant-main-telephone-number",
          name: "applicant-main-telephone-number",
          label: {
            text: "Main telephone number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For international numbers include the country code"
          },
          classes: "govuk-input--width-20",
          value: data["applicant-main-telephone-number"]
        }) }}

        {{ govukInput({
          id: "applicant-other-telephone-number",
          name: "applicant-other-telephone-number",
          label: {
            text: "Other telephone number",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For international numbers include the country code"
          },
          classes: "govuk-input--width-20",
          value: data["applicant-other-telephone-number"]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Address</h2>

        {{ govukInput({
          id: "applicant-address-line-1",
          name: "applicant-address-line-1",
          label: {
            text: "Address line 1",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-address-line-1"]
        }) }}

        {{ govukInput({
          id: "applicant-address-line-2",
          name: "applicant-address-line-2",
          label: {
            text: "Address line 2",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-address-line-2"]
        }) }}

        {{ govukInput({
          id: "applicant-address-line-3",
          name: "applicant-address-line-3",
          label: {
            text: "Address line 3",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-address-line-3"]
        }) }}

        {{ govukInput({
          id: "applicant-address-line-4",
          name: "applicant-address-line-4",
          label: {
            text: "Address line 4",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-address-line-4"]
        }) }}

        {{ govukInput({
          id: "applicant-address-line-5",
          name: "applicant-address-line-5",
          label: {
            text: "Address line 5",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["applicant-address-line-5"]
        }) }}

        {{ govukInput({
          id: "applicant-postal-or-zip-code",
          name: "applicant-postal-or-zip-code",
          label: {
            text: "Postal or zip code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          value: data["applicant-postal-or-zip-code"]
        }) }}

        {{ govukSelect({
          id: "applicant-country",
          name: "applicant-country",
          label: {
            text: "Country",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          items: [
            {
              text: "Poland",
              value: "poland",
              selected: data["applicant-country"] == "poland"
            },
            {
              text: "United Kingdom",
              value: "united-kingdom",
              selected: data["applicant-country"] == "united-kingdom"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "applicant-send-correspondence-to-third-party",
          name: "applicant-send-correspondence-to-third-party",
          items: [
            {
              value: "yes",
              text: "Send correspondence to a third party",
              checked: data["applicant-send-correspondence-to-third-party"] == "yes",
              conditional: {
                html: thirdPartyHtml
              }
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Bank details</h2>

        {{ govukRadios({
          idPrefix: "applicant-bank-account-type",
          name: "applicant-bank-account-type",
          fieldset: {
            legend: {
              text: "Bank account type",
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "uk-bank-account",
              text: "UK bank account",
              checked: data["applicant-bank-account-type"] == "uk-bank-account",
              conditional: {
                html: ukBankDetailsHtml
              }
            },
            {
              value: "non-uk-bank-account",
              text: "Non-UK bank account",
              checked: data["applicant-bank-account-type"] == "non-uk-bank-account",
              conditional: {
                html: nonUkBankDetailsHtml
              }
            },
            {
              value: "none",
              text: "None",
              checked: data["applicant-bank-account-type"] == "none",
              hint: {
                text: "Cheques will be used if no payment details are added"
              }
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Restrict personal information</h2>
        <p class="govuk-body">A flag will be added to the account to remind HMCTS staff not to share the applicant's details with third parties</p>

        {{ govukCheckboxes({
          idPrefix: "applicant-restrict-personal-information",
          name: "applicant-restrict-personal-information",
          items: [
            {
              value: "yes",
              text: "Applicant's personal information should not be shared",
              checked: data["applicant-restrict-personal-information"] == "yes",
              conditional: {
                html: restrictionHtml
              }
            }
          ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to case details"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


