{% extends "layouts/main.html" %}

{% from "autocomplete/macro.njk" import xGovukAutocomplete %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Add order terms - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if showBackLink !== false %}
        {{ govukBackLink({
          text: "Back",
          href: backHref or "/create-a-case/select-order-term"
        }) }}
      {% endif %}

      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% else %}
        <span class="govuk-caption-l">Order terms</span>
      {% endif %}
      <h1 class="govuk-heading-l">What type of order are you adding?</h1>

      {% if selectionError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: selectionError,
              href: "#alternative-order-term-code"
            }
          ]
        }) }}
      {% endif %}

      {% set selectionErrorMessage = undefined %}
      {% if selectionError %}
        {% set selectionErrorMessage = {
          text: selectionError
        } %}
      {% endif %}

      <form method="post" action="{{ formAction or '/create-a-case/select-order-term' }}">
        {{ xGovukAutocomplete({
          id: "alternative-order-term-code",
          name: "alternative-order-term-code",
          label: {
            text: "Select an order",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["alternative-order-term-code"],
          items: resultItems,
          errorMessage: selectionErrorMessage
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="{{ cancelHref or '/create-a-case/case-details' }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
