{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% block pageTitle %}
  Application details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/create-a-case/application-details"
      }) }}

      <span class="govuk-caption-l">Application details</span>
      <h1 class="govuk-heading-l">{{ applicationCode }} - {{ applicationTitle }}</h1>

      <form method="post" action="{{ formAction }}">

        {% for field in responseItems %}
          {% if field.type == "date" %}
            {{ mojDatePicker({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              value: field.value
            }) }}
          {% elif field.type == "textarea" %}
            {{ govukCharacterCount({
              name: field.id,
              id: field.id,
              maxlength: 1000,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              rows: 4,
              value: field.value
            }) }}
          {% else %}
            {{ govukInput({
              id: field.id,
              name: field.id,
              label: {
                text: field.prompt,
                classes: "govuk-label--s"
              },
              classes: "govuk-!-width-two-thirds",
              value: field.value
            }) }}
          {% endif %}
        {% endfor %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to case details"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
