{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block pageTitle %}
  Case comments and notes - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% set formAction = formAction or "/create-a-case/case-comments-and-notes" %}
  {% set cancelHref = cancelHref or "/create-a-case/cancel" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% endif %}

      <h1 class="govuk-heading-l">Case comments and notes</h1>

      <form method="post" action="{{ formAction }}">
        {{ govukCharacterCount({
          name: "case-comment",
          id: "case-comment",
          maxlength: 250,
          label: {
            text: "Add comment",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, terms that affect the case and other key information, which will appear on the case summary"
          },
          rows: 5,
          value: data["case-comment"]
        }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {{ govukCharacterCount({
          name: "case-notes",
          id: "case-notes",
          maxlength: 250,
          label: {
            text: "Add case notes",
            classes: "govuk-label--s"
          },
          hint: {
            text: "You can view notes in case history after the case is published"
          },
          rows: 5,
          value: data["case-notes"]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to case details"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


