{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Remove central authority details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% set formAction = formAction or "/create-a-case/central-authority-details/remove" %}
  {% set cancelHref = cancelHref or "/create-a-case/central-authority-details" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% endif %}

      <h1 class="govuk-heading-l">Are you sure you want to remove the central authority's details?</h1>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Central authority details"
          }
        },
        rows: centralAuthorityCardRows
      }) }}

      <form method="post" action="{{ formAction }}">
        {{ govukButton({
          text: "Yes - remove",
          classes: "govuk-button--warning"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ cancelHref }}">No - cancel</a>
      </p>
    </div>
  </div>
{% endblock %}


