{% extends "layouts/main.html" %}

{% set showNav = true %}
{% set activeNav = "cases" %}

{% block pageTitle %}
  RM - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cases</h1>

      <h2 class="govuk-heading-m">Create records</h2>
      <ul class="govuk-list">
        <li><a href="/create-a-case" class="govuk-link">Create a case</a></li>
        <li><a href="/orders-applications" class="govuk-link">Enter Orders and Applications</a></li>
        <li><a href="/orders-applications-alternative" class="govuk-link">Enter Orders and Applications (alternative)</a></li>
        <li><a href="/create-and-validate-draft-orders" class="govuk-link">Create and validate draft orders</a></li>
        <li><a href="/create-data" class="govuk-link">Create data</a></li>
      </ul>

      <h2 class="govuk-heading-m">Resulting</h2>
      <ul class="govuk-list">
        <li><a href="/resulting" class="govuk-link">Enter results</a></li>
        <li><a href="/review-results" class="govuk-link">Review results</a></li>
        <li><a href="/check-results" class="govuk-link">Check results</a></li>
      </ul>

      <h2 class="govuk-heading-m">Enquiries</h2>
      <ul class="govuk-list">
        <li><a href="/case-enquiry" class="govuk-link">Case enquiry</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
