{% extends "layouts/main.html" %}

{% set showNav = true %}
{% set activeNav = "cases" %}

{% block pageTitle %}
  RM - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cases</h1>

      <h2 class="govuk-heading-m">Create cases</h2>
      <ul class="govuk-list">
        <li><a href="/create-cases" class="govuk-link">Create cases</a></li>
        <li><a href="/review-cases" class="govuk-link">Review cases</a></li>
      </ul>

      <h2 class="govuk-heading-m">Resulting</h2>
      <ul class="govuk-list">
        <li><a href="/resulting" class="govuk-link">Enter results</a></li>
        <li><a href="/review-results" class="govuk-link">Review results</a></li>
        <li><a href="/check-results" class="govuk-link">Check results</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
