{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
(function () {
  var _orig = window.GOVUKPrototypeKit.documentReady
  window.GOVUKPrototypeKit.documentReady = function (fn) {
    _orig(function () {
      var autocompleteEls = []
      if (window.accessibleAutocomplete) {
        document.querySelectorAll('[data-module="autocomplete"]').forEach(function (el) {
          autocompleteEls.push(el)
          el.removeAttribute('data-module')
        })
      }
      fn()
      autocompleteEls.forEach(function (el) {
        var params = el.dataset
        window.accessibleAutocomplete.enhanceSelectElement({
          selectElement: el,
          defaultValue: el.value,
          autoselect: params.autoselect === 'true',
          displayMenu: params.displayMenu,
          minLength: params.minLength ? parseInt(params.minLength) : 0,
          showAllValues: true,
          showNoOptionsFound: params.showNoOptionsFound === 'true'
        })
      })
    })
  }
})()
</script>
{% endblock %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "moj/components/header/macro.njk" import mojHeader %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% block govukFooter %}
  {% if GOVUKPrototypeKit.isDevelopment %}
    {% set footerItems = [
      { href: "/manage-prototype", text: "Manage your prototype" },
      { href: "/create-data", text: "Create data" },
      { href: "/manage-prototype/clear-data", text: "Clear data" }
    ] %}
  {% else %}
    {% set footerItems = [
      { href: "/create-data", text: "Create data" },
      { href: "/manage-prototype/clear-data", text: "Clear data" }
    ] %}
  {% endif %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: "HMCTS Opal",
      href: "/cases"
    },
    serviceLabel: {
      text: serviceName,
      href: "/cases"
    },
    navigation: {
      label: "Account navigation",
      items: [
        {
          text: "Sign out",
          href: "#"
        }
      ]
    }
  }) }}

  {% if showNav === true %}
  {{ mojPrimaryNavigation({
    label: "Primary navigation",
    items: [
      {
        text: "Search",
        href: "/search",
        active: activeNav == "search"
      },
      {
        text: "Cases",
        href: "/cases",
        active: activeNav == "cases"
      },
      {
        text: "Finance",
        href: "#",
        active: activeNav == "finance"
      },
      {
        text: "Reports",
        href: "#",
        active: activeNav == "reports"
      },
      {
        text: "Administration",
        href: "#",
        active: activeNav == "administration"
      }
    ]
  }) }}
  {% endif %}
{% endblock %}
