{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">{{ orderTermCard.title }}</h3>
    {% if orderTermCard.changeHref %}
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="{{ orderTermCard.changeHref }}">
            Change<span class="govuk-visually-hidden"> {{ orderTermCard.title }}</span>
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="govuk-summary-card__content">
    {{ govukSummaryList({
      rows: orderTermCard.rows
    }) }}

    {% if orderTermCard.historyHref %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        <a class="govuk-link" href="{{ orderTermCard.historyHref }}" target="_blank" rel="noreferrer">View previous terms</a>
      </p>
    {% endif %}
  </div>
</div>
