{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% set showNav = true %}

{% block pageTitle %}
  {{ activeCase.respondentName }} - Case details - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Back",
        href: "/create-cases?tab=approved"
      }) }}

      <div class="rm-enquiry-header govuk-!-margin-bottom-3">
        <div>
          <p class="govuk-caption-xl">{{ activeCase.caseReference }}</p>
          <div class="rm-enquiry-header__title-row">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{ activeCase.respondentName }}</h1>
          </div>
          <p class="govuk-body govuk-secondary-text-colour govuk-!-margin-bottom-0">{{ activeCase.applicantName }}</p>
        </div>
        <div class="rm-enquiry-header__actions">
          {{ govukButton({
            text: "Add account note",
            href: "#",
            classes: "govuk-button--secondary rm-enquiry-header__button"
          }) }}
          {{ govukButton({
            text: "More actions",
            href: "#",
            classes: "govuk-button--secondary rm-enquiry-header__button"
          }) }}
        </div>
      </div>

      <div class="rm-case-summary-bar govuk-!-margin-bottom-2">
        <div class="rm-case-summary-tile rm-case-summary-tile--dark">
          <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Arrears</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ activeCase.arrears }}</p>
        </div>
        <div class="rm-case-summary-tile">
          <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Case type</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ activeCase.caseType }}</p>
        </div>
        <div class="rm-case-summary-tile">
          <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">REMO reference</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ activeCase.remoReference }}</p>
        </div>
        <div class="rm-case-summary-tile">
          <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Business unit</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ activeCase.businessUnit }}</p>
        </div>
        <div class="rm-case-summary-tile">
          <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date of last movement</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ activeCase.dateOfLastMovement }}</p>
        </div>
      </div>

      {{ mojSubNavigation({
        label: "Case navigation",
        items: [
          { text: "At a glance", href: "#", active: true },
          { text: "Respondent", href: "#" },
          { text: "Applicant", href: "#" },
          { text: "Authority", href: "#" },
          { text: "Applications", href: "#" },
          { text: "Orders", href: "#" },
          { text: "Enforcement", href: "#" },
          { text: "History and notes", href: "#" }
        ]
      }) }}

      <div class="govuk-grid-row govuk-!-margin-top-6">

        <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-m rm-enquiry-section-heading">Respondent</h2>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Name</p>
          <p class="govuk-body">{{ activeCase.respondent.name }}</p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date of birth</p>
          <p class="govuk-body">{{ activeCase.respondent.dateOfBirth }}</p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
          <p class="govuk-body">
            {% for line in activeCase.respondent.address %}
              {{ line }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          </p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">UK National Insurance number</p>
          <p class="govuk-body">{{ activeCase.respondent.nationalInsuranceNumber }}</p>

          <h2 class="govuk-heading-m rm-enquiry-section-heading govuk-!-margin-top-4">Applicant</h2>

          {% if activeCase.applicant.restricted %}
            {{ mojBadge({ text: "Restricted", classes: "moj-badge--orange" }) }}
          {% endif %}

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-margin-top-3">Name</p>
          <p class="govuk-body"><a href="#" class="govuk-link">{{ activeCase.applicant.name }}</a></p>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date of birth</p>
          <p class="govuk-body">{{ activeCase.applicant.dateOfBirth }}</p>

        </div>

        <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-m rm-enquiry-section-heading">Beneficiaries</h2>

          {% for adult in activeCase.beneficiaries.adults %}
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Adult</p>
            <p class="govuk-body">{{ adult }}</p>
          {% endfor %}

          {% for child in activeCase.beneficiaries.children %}
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Child</p>
            <p class="govuk-body">{{ child }}</p>
          {% endfor %}

        </div>

        <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-m rm-enquiry-section-heading">Comment</h2>

          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Comment</p>
          <p class="govuk-body">{{ activeCase.comment }}</p>
          <a href="#" class="govuk-link">Change</a>

        </div>

      </div>

    </div>
  </div>
{% endblock %}
