{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Add account note - {{ accountName }} - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% set formErrors = errors or {} %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ accountNumber }} &ndash; {{ accountName }}</span>

      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="post" action="{{ formAction }}">
        {{ govukCharacterCount({
          name: "account-note",
          id: "account-note",
          maxlength: 1000,
          label: {
            text: "Add account note",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You can view notes in account history"
          },
          rows: 5,
          value: note,
          errorMessage: formErrors["account-note"]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save note"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
