{% extends "layouts/main.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ pageHeading or "Order terms" }} - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if showBackLink !== false %}
        {{ govukBackLink({
          text: "Back",
          href: backHref
        }) }}
      {% endif %}

      {% if accountContextLabel %}
        <span class="govuk-caption-l">{{ accountContextLabel }}</span>
      {% endif %}
      <h1 class="govuk-heading-l">{{ pageHeading or "Order terms" }}</h1>

      {% set orderTermCard = orderTermCard %}
      {% set showOrderTermCardActions = true %}
      {% include "create-a-case/_order-term-summary-card.html" %}

      {% if showApplyCreditorToAllInset %}
        {{ govukInsetText({
          text: "The creditor will also be applied to all existing order terms."
        }) }}
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form method="post" action="{{ formAction }}"{% if routeGuard %} data-module="rm-route-guard"{% if routeGuardActive %} data-route-guard-active="true"{% endif %}{% endif %}>
        <div class="govuk-button-group">
          {{ govukButton({
            text: primaryButtonText or "Save changes"
          }) }}

          <a class="govuk-link" href="{{ cancelHref }}">Cancel<span class="govuk-visually-hidden"> and return to Orders tab</span></a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
